@import 'global';
@import 'animations';

.top-nav {
  width: 100%;
  padding: 20px 0px;
  background-color: #fff;

  .buttons-contain {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;

    .btn-shape {
      width: 160px;
      height: 50px;
      overflow: hidden;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 700;
      color: #000;
      border-radius: 40px;
      position: relative;
      margin-inline-end: 10px;

      &::after, &::before {
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        background-color: #CB1E0F;
        display: none;
        z-index: -1;
        transition: all .3s linear;
      }

      &::after {
        left: 0;
      }

      &::before {
        right: 0;
      }

      &.border-btn {
        &::after, &::before {
          width: 0px;
        }

        &:hover {
          &::after, &::before {
            width: 55%;
          }
        }
      }

      &.bk-btn {
        &::after, &::before {
          width: 55%;
        }

        &:hover {
          &::after, &::before {
            width: 0%;
          }
        }
      }
    }

    .icon img {
      width: 30px;
      height: 30px;
      animation: translateX 1s linear infinite;
      object-fit: contain;
    }
  }
}

.navbar {
  width: 100%;
  background-color: #1B1915;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0px;

  &.scrolled {
    .top-nav {
      display: none;
    }

    .brand-name img {
      height: 40px !important;
    }

    .content {
      padding: 15px 0px;
    }
  }

  .content {
    padding: 30px 0px;
    transition: all .3s linear;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .hamburger{
      display: none;

      .line{
        width: 30px;
        height: 3px;
        background-color: #CB1E0F;
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active{
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line{
          &:nth-child(2){
            width: 0px;
          }

          &:nth-child(1) ,
          &:nth-child(3){
            transition-delay: 0.3s;
          }

          &:nth-child(1){
            transform: translateY(6.5px);
          }
          
          &:nth-child(3){
            transform: translateY(-15px) rotate(90deg);
          }                             
        }
      }
    }

    .brand-name img {
      width: 230px;
      height: 60px;
      object-fit: contain;
      transition: all .3s linear;
    }

    .navbar-nav {
      flex-direction: row;

      .nav-item {
        margin-inline-end: 30px;
        
        .nav-link {
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          
          &:hover {
            color: #CB1E0F;
          }
        }
        
        &.product-cat {
          .nav-link {
            padding-inline-end: 20px;
            position: relative;
            z-index: 9;

            &::after {
              content: '';
              position: absolute;
              width: 15px;
              height: 15px;
              background: url('../images/arrow.svg') center / contain no-repeat;
              left: 0px;
              top: calc(50% - 7.5px);
              z-index: -1;
            }
          }

          .product-contain {
            width: 100%;
            padding: 30px 20px;
            box-shadow: 0px 0px 10px rgba($color: #CB1E0F, $alpha: 0.2);
            background-color: #1B1915;
            position: absolute;
            top: 100%;
            left: 0px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);
            transition: all .3s linear;

            .close-product-contain {
              width: 20px;
              height: 20px;
              object-fit: contain;
              position: absolute;
              top: 15px;
              left: 15px;
              display: none;

              img {
                width: 20px;
                height: 20px;
                object-fit: contain;
              }
            }
            
            .contain {
              .head {
                color: #CB1E0F;
                font-size: 20px;
                font-weight: 900;
                margin-bottom: 30px;
              }

              .links-list {
                li a{
                  color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  margin-bottom: 20px;
                  display: block;
                }
              }
            }
          }

          &:hover {
            .product-contain {
              transform: translateY(0px);
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    .buttons-contain {
      display: flex;
      align-items: center;
      align-content: center;

      .btn-shape {
        width: 160px;
        height: 50px;
        overflow: hidden;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        border: 1px solid #CB1E0F;
        border-radius: 40px;
        position: relative;
        margin-inline-end: 10px;

        &::after, &::before {
          content: '';
          position: absolute;
          height: 100%;
          top: 0;
          background-color: #CB1E0F;
          z-index: -1;
          transition: all .3s linear;
        }

        &::after {
          left: 0;
        }

        &::before {
          right: 0;
        }

        &.border-btn {
          &::after, &::before {
            width: 0px;
          }

          &:hover {
            &::after, &::before {
              width: 55%;
            }
          }
        }

        &.bk-btn {
          &::after, &::before {
            width: 55%;
          }

          &:hover {
            &::after, &::before {
              width: 0%;
            }
          }
        }
      }

      .icon img {
        width: 30px;
        height: 30px;
        animation: translateX 1s linear infinite;
        object-fit: contain;
      }
    }
  }
}

header {
  width: 100%;
  padding: 400px 0px;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.2);
    top: 0;
    left: 0;
    z-index: -1;
  }

  &.sub-header {
    padding: 200px 0px 100px;
  }

  .content {
    h1 {
      font-size: 40px;
      font-weight: 900;
      color: #fff;
      margin-bottom: 40px;
    }

    .btn-shape {
      width: 160px;
      height: 50px;
      overflow: hidden;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      z-index: 9;
      font-weight: 700;
      color: #fff;
      border: 1px solid #CB1E0F;
      border-radius: 40px;
      position: relative;
      margin-inline-end: 10px;

      &::after, &::before {
        content: '';
        position: absolute;
        width: 55%;
        height: 100%;
        top: 0;
        background-color: #CB1E0F;
        z-index: -1;
        transition: all .3s linear;
      }

      &::after {
        left: 0;
      }

      &::before {
        right: 0;
      }
      
      &:hover {
        &::after, &::before {
          width: 0% !important;
        }
      }
    }

    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      margin: 0px !important;
    }
  }
}

.products {
  width: 100%;
  padding: 60px 0px;
  background-color: #fff;

  .heading {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    z-index: 9;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: -1;
      background-color: #707070;
    }

    h1 {
      color: #000000;
      font-size: 35px;
      font-weight: 900;
      background-color: #fff;
      width: fit-content;
      margin: auto;
      padding: 0px 30px;
    }
  }

  .box {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    transition: all .3s linear;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .contain {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px 15px;
      background-color: rgba($color: #CB1E0F, $alpha: 0.750);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      transition: all .3s linear;

      h2 {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        margin: 0px;
        width: fit-content;
      }
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 0px 10px rgba($color: #CB1E0F, $alpha: 0.2);

      .contain {
        background-color: rgba($color: #CB1E0F, $alpha: 1.0);
      }
    }
  }
}

.services {
  width: 100%;
  padding: 50px 0px;
  background-color: #252424;
  position: relative;
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/pattern.png') center / cover repeat-x;
    top: 0;
    left: 0;
    z-index: -1;
    animation: sliderShape 20s linear infinite;
    display: none;
  }

  .heading {
    width: 100%;
    margin-top: -80px;
    margin-bottom: 80px;
    position: relative;
    z-index: 9;

    h1 {
      width: fit-content;
      margin: auto !important;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: #CB1E0F;
      font-size: 30px;
      font-weight: 900;
      color: #fff;
      margin: 0px;
    }
  }

  .service-contain {
    position: relative;
    z-index: 9;

    &::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: #CB1E0F;
      top: 82px;
      left: 10%;
      z-index: -1;
    }

    .box {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      transition: all .4s linear;

      .image-content {
        width: 164px;
        height: 164px;
        background-color: #ddd;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        transition: all .4s linear;

        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
        }
      }

      h2 {
        text-align: center;
        margin: 20px 0px 0px;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
      }

      &:hover {
        transform: translateY(-10px);

        .image-content img {
          animation: fadeInLeft .4s linear both;
        }
      }
    }
  }
}

.graph {
  width: 100%;
  padding: 50px 0px;
  background-color: #fff;

  .heading {
    width: 100%;
    text-align: center;

    h1 {
      color: #CB1E0F;
      font-size: 40px;
      font-weight: 900;
      margin-bottom: 20px;
    }

    p {
      color: #000000;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 60px;
    }
  }

  .graph-step {
    li {
      width: 100%;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: space-between;
      margin-bottom: 60px;

      .number {
        width: 64px;
        height: 64px;
        background-color: #CB1E0F;
        border-radius: 50%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        font-weight: 900;
      }

      .data {
        width: calc(100% - 80px);

        h2 {
          color: #CB1E0F;
          font-size: 20px;
          font-weight: 900;
          margin-bottom: 10px;
        }

        p {
          color: #000000;
          font-size: 15px;
          font-weight: 500;
          margin: 0px !important;

          span {
            color: #CB1E0F;
          }
        }
      }
    }
  }

  .image-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    img {
      width: 100%;
      height: 370px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.questions {
  width: 100%;
  padding: 70px 0px;
  background-color: #fff;

  .question-contain {
    width: 100%;
    
    h2 {
      color: #CB1E0F;
      padding: 0px 0px 30px 0px;
      margin-bottom: 40px;
      border-bottom: 1px solid #707070;
      font-size: 30px;
      font-weight: 900;
    }

    p {
      color: #000000;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
    }
  }

  .button-data {
    margin-top: 40px;
  }

  .graph h2 {
    border: 0px !important;
    padding: 0px !important;
  }
}

.say {
  width: 100%;
  padding: 50px 0px;
  background-color: #F1F1F1;
  position: relative;
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/pattern.png') center / cover repeat-x;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    animation: sliderShape 20s linear infinite;
  }

  .heading {
    width: 100%;
    margin-top: -80px;
    margin-bottom: 80px;
    position: relative;
    z-index: 9;

    h1 {
      width: fit-content;
      margin: auto !important;
      padding: 10px 50px;
      border-radius: 10px;
      background-color: #CB1E0F;
      font-size: 30px;
      font-weight: 900;
      color: #fff;
      margin: 0px;
      position: relative;
      z-index: 9;

      &::after, &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background: url('../images/qoute.png') center / contain no-repeat;
        z-index: -1;
        top: calc(50% - 15px);
      }

      &::after {
        right: 6px;
      }

      &::before {
        left: 6px;
      }
    }
  }

  .data-contain {
    p {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.8rem;
    }
  }

  .box {
    width: 100%;
    padding: 20px 15px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all .3s linear;

    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
      margin: 0px 0px 30px 0px;
    }

    .desc {
      color: #252424;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
      margin-bottom: 40px;
    }

    h2 {
      color: #CB1E0F;
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 10px;
    }

    .location {
      color: #252424;
      font-size: 20px;
      font-weight: 500;
      margin: 0px;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }

  .button-data {
    margin-top: 40px;
  }
}

.contact-us {
  width: 100%;
  padding: 50px 0px;

  .form-contain {
    .form-group {
      label {
        font-size: 20px;
        font-weight: 700;
        color: #CB1E0F;
        margin-bottom: 15px;
        display: block;
      }

      .form-control {
        width: 100%;
        height: 50px;
        background-color: #fff;
        border-radius: 0px !important;
        border: 1px solid #D8D7D7;
        color: #000000;
        resize: none;

        &.text-area {
          height: 200px !important;
        }

        &::placeholder {
          color: #D8D7D7;
          font-size: 18px;
          font-weight: 500;
        }

        &:hover, &:focus {
          border-color: #CB1E0F;
        }
      }
    }

    iframe {
      width: 100%;
      height: 500px;
    }
  }
}

.button-data {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  .btn-shape {
    width: 210px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 9;
    font-weight: 700;
    color: #fff;
    border: 1px solid #252424;
    border-radius: 10px;
    position: relative;
    margin-inline-end: 10px;

    &::after, &::before {
      content: '';
      position: absolute;
      width: 55%;
      height: 100%;
      top: 0;
      background-color: #252424;
      z-index: -1;
      transition: all .3s linear;
    }

    &::after {
      left: 0;
    }

    &::before {
      right: 0;
    }
    
    &:hover {
      &::after, &::before {
        width: 0% !important;
      }

      color: #252424;
    }
  }
}

.data-contact {
  width: 100%;
  padding: 50px 0px 30px 0px;
  background-color: #F1F1F1;

  .border-shape {
    position: relative;
    z-index: 9;

    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #1B1915;
      left: 0px;
      top: 0;
      z-index: -1;
    }
  }

  .box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-inline-end: 15px;
    }

    h2 {
      color: #000000;
      font-size: 25px;
      font-weight: 900;
      width: fit-content;
      margin: 0px;
    }

    &:hover {
      img {
        animation: tada .4s linear both;
      }
    }
  }
}

footer {
  width: 100%;
  padding: 50px 0px 10px 0px;
  background-color: #252424;

  .content {
    .brand-name {
      width: 210px;
      height: 60px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    p {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
    }

    .link {
      li {
        margin-block-end: 10px;

        a {
          width: 100%;
          color: #fff;
          font-size: 15px;
          font-weight: 700;

          &:hover {
            color: #CB1E0F;
          }
        }
      }
    }

    .socail-media {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        margin-inline-end: 10px;

        a {
          width: 40px;
          height: 40px;
          background-color: #fff;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;

          img {
            width: 20px;
            height: 20px;
            object-fit: contain;
          }

          &:hover {
            img {
              animation: fadeInLeft .4s linear both;
            }
          }
        }
      }
    }

    .whats {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      margin-top: 20px;

      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        margin-inline-end: 15px;
      }

      span {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url('../images/intro_shape.jpeg') center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
    top: 0;
    left: 0;
    z-index: -1;
  }

  img {
    width: 120px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 20px
  }

  h1 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    text-align: center
  }
}

.fixed-icon {
  width: 50px;
  height: 50px;
  background: #25D366;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 997;
  animation: pulse-shadow 2s linear infinite alternate-reverse;

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  &:hover img {
    animation: tada .3s linear both;
  }
}

@import 'media';