@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #368B85;
  color: #fff;
}
*::selection {
  background-color: #368B85;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: #368B85;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #FFD371;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #FFD371;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@-webkit-keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@-webkit-keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes sliderShape {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes sliderShape {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.top-nav {
  width: 100%;
  padding: 20px 0px;
  background-color: #fff;
}
.top-nav .buttons-contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}
.top-nav .buttons-contain .btn-shape {
  width: 160px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  border-radius: 40px;
  position: relative;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.top-nav .buttons-contain .btn-shape::after, .top-nav .buttons-contain .btn-shape::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  background-color: #CB1E0F;
  display: none;
  z-index: -1;
  transition: all 0.3s linear;
}
.top-nav .buttons-contain .btn-shape::after {
  left: 0;
}
.top-nav .buttons-contain .btn-shape::before {
  right: 0;
}
.top-nav .buttons-contain .btn-shape.border-btn::after, .top-nav .buttons-contain .btn-shape.border-btn::before {
  width: 0px;
}
.top-nav .buttons-contain .btn-shape.border-btn:hover::after, .top-nav .buttons-contain .btn-shape.border-btn:hover::before {
  width: 55%;
}
.top-nav .buttons-contain .btn-shape.bk-btn::after, .top-nav .buttons-contain .btn-shape.bk-btn::before {
  width: 55%;
}
.top-nav .buttons-contain .btn-shape.bk-btn:hover::after, .top-nav .buttons-contain .btn-shape.bk-btn:hover::before {
  width: 0%;
}
.top-nav .buttons-contain .icon img {
  width: 30px;
  height: 30px;
  -webkit-animation: translateX 1s linear infinite;
          animation: translateX 1s linear infinite;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar {
  width: 100%;
  background-color: #1B1915;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0px;
}
.navbar.scrolled .top-nav {
  display: none;
}
.navbar.scrolled .brand-name img {
  height: 40px !important;
}
.navbar.scrolled .content {
  padding: 15px 0px;
}
.navbar .content {
  padding: 30px 0px;
  transition: all 0.3s linear;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .content .hamburger {
  display: none;
}
.navbar .content .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #CB1E0F;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .content .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .content .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .content .hamburger.active .line:nth-child(1), .navbar .content .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .content .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .content .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .content .brand-name img {
  width: 230px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s linear;
}
.navbar .content .navbar-nav {
  flex-direction: row;
}
.navbar .content .navbar-nav .nav-item {
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
}
.navbar .content .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.navbar .content .navbar-nav .nav-item .nav-link:hover {
  color: #CB1E0F;
}
.navbar .content .navbar-nav .nav-item.product-cat .nav-link {
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  position: relative;
  z-index: 9;
}
.navbar .content .navbar-nav .nav-item.product-cat .nav-link::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../images/arrow.svg") center/contain no-repeat;
  left: 0px;
  top: calc(50% - 7.5px);
  z-index: -1;
}
.navbar .content .navbar-nav .nav-item.product-cat .product-contain {
  width: 100%;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px rgba(203, 30, 15, 0.2);
  background-color: #1B1915;
  position: absolute;
  top: 100%;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s linear;
}
.navbar .content .navbar-nav .nav-item.product-cat .product-contain .close-product-contain {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
}
.navbar .content .navbar-nav .nav-item.product-cat .product-contain .close-product-contain img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .content .navbar-nav .nav-item.product-cat .product-contain .contain .head {
  color: #CB1E0F;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
}
.navbar .content .navbar-nav .nav-item.product-cat .product-contain .contain .links-list li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}
.navbar .content .navbar-nav .nav-item.product-cat:hover .product-contain {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.navbar .content .buttons-contain {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .content .buttons-contain .btn-shape {
  width: 160px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #CB1E0F;
  border-radius: 40px;
  position: relative;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.navbar .content .buttons-contain .btn-shape::after, .navbar .content .buttons-contain .btn-shape::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  background-color: #CB1E0F;
  z-index: -1;
  transition: all 0.3s linear;
}
.navbar .content .buttons-contain .btn-shape::after {
  left: 0;
}
.navbar .content .buttons-contain .btn-shape::before {
  right: 0;
}
.navbar .content .buttons-contain .btn-shape.border-btn::after, .navbar .content .buttons-contain .btn-shape.border-btn::before {
  width: 0px;
}
.navbar .content .buttons-contain .btn-shape.border-btn:hover::after, .navbar .content .buttons-contain .btn-shape.border-btn:hover::before {
  width: 55%;
}
.navbar .content .buttons-contain .btn-shape.bk-btn::after, .navbar .content .buttons-contain .btn-shape.bk-btn::before {
  width: 55%;
}
.navbar .content .buttons-contain .btn-shape.bk-btn:hover::after, .navbar .content .buttons-contain .btn-shape.bk-btn:hover::before {
  width: 0%;
}
.navbar .content .buttons-contain .icon img {
  width: 30px;
  height: 30px;
  -webkit-animation: translateX 1s linear infinite;
          animation: translateX 1s linear infinite;
  -o-object-fit: contain;
     object-fit: contain;
}

header {
  width: 100%;
  padding: 400px 0px;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: -1;
}
header.sub-header {
  padding: 200px 0px 100px;
}
header .content h1 {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 40px;
}
header .content .btn-shape {
  width: 160px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 9;
  font-weight: 700;
  color: #fff;
  border: 1px solid #CB1E0F;
  border-radius: 40px;
  position: relative;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
header .content .btn-shape::after, header .content .btn-shape::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  background-color: #CB1E0F;
  z-index: -1;
  transition: all 0.3s linear;
}
header .content .btn-shape::after {
  left: 0;
}
header .content .btn-shape::before {
  right: 0;
}
header .content .btn-shape:hover::after, header .content .btn-shape:hover::before {
  width: 0% !important;
}
header .content h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0px !important;
}

.products {
  width: 100%;
  padding: 60px 0px;
  background-color: #fff;
}
.products .heading {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  z-index: 9;
}
.products .heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  background-color: #707070;
}
.products .heading h1 {
  color: #000000;
  font-size: 35px;
  font-weight: 900;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0px 30px;
}
.products .box {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  transition: all 0.3s linear;
}
.products .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.products .box .contain {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 15px;
  background-color: rgba(203, 30, 15, 0.75);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.products .box .contain h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.products .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px rgba(203, 30, 15, 0.2);
}
.products .box:hover .contain {
  background-color: #cb1e0f;
}

.services {
  width: 100%;
  padding: 50px 0px;
  background-color: #252424;
  position: relative;
  z-index: 9;
}
.services::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") center/cover repeat-x;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: sliderShape 20s linear infinite;
          animation: sliderShape 20s linear infinite;
  display: none;
}
.services .heading {
  width: 100%;
  margin-top: -80px;
  margin-bottom: 80px;
  position: relative;
  z-index: 9;
}
.services .heading h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto !important;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #CB1E0F;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  margin: 0px;
}
.services .service-contain {
  position: relative;
  z-index: 9;
}
.services .service-contain::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #CB1E0F;
  top: 82px;
  left: 10%;
  z-index: -1;
}
.services .service-contain .box {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.4s linear;
}
.services .service-contain .box .image-content {
  width: 164px;
  height: 164px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.4s linear;
}
.services .service-contain .box .image-content img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.services .service-contain .box h2 {
  text-align: center;
  margin: 20px 0px 0px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}
.services .service-contain .box:hover {
  transform: translateY(-10px);
}
.services .service-contain .box:hover .image-content img {
  -webkit-animation: fadeInLeft 0.4s linear both;
          animation: fadeInLeft 0.4s linear both;
}

.graph {
  width: 100%;
  padding: 50px 0px;
  background-color: #fff;
}
.graph .heading {
  width: 100%;
  text-align: center;
}
.graph .heading h1 {
  color: #CB1E0F;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
}
.graph .heading p {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 60px;
}
.graph .graph-step li {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
}
.graph .graph-step li .number {
  width: 64px;
  height: 64px;
  background-color: #CB1E0F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
.graph .graph-step li .data {
  width: calc(100% - 80px);
}
.graph .graph-step li .data h2 {
  color: #CB1E0F;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
.graph .graph-step li .data p {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  margin: 0px !important;
}
.graph .graph-step li .data p span {
  color: #CB1E0F;
}
.graph .image-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.graph .image-content img {
  width: 100%;
  height: 370px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.questions {
  width: 100%;
  padding: 70px 0px;
  background-color: #fff;
}
.questions .question-contain {
  width: 100%;
}
.questions .question-contain h2 {
  color: #CB1E0F;
  padding: 0px 0px 30px 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid #707070;
  font-size: 30px;
  font-weight: 900;
}
.questions .question-contain p {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
}
.questions .button-data {
  margin-top: 40px;
}
.questions .graph h2 {
  border: 0px !important;
  padding: 0px !important;
}

.say {
  width: 100%;
  padding: 50px 0px;
  background-color: #F1F1F1;
  position: relative;
  z-index: 9;
}
.say::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/pattern.png") center/cover repeat-x;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  -webkit-animation: sliderShape 20s linear infinite;
          animation: sliderShape 20s linear infinite;
}
.say .heading {
  width: 100%;
  margin-top: -80px;
  margin-bottom: 80px;
  position: relative;
  z-index: 9;
}
.say .heading h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto !important;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #CB1E0F;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  margin: 0px;
  position: relative;
  z-index: 9;
}
.say .heading h1::after, .say .heading h1::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/qoute.png") center/contain no-repeat;
  z-index: -1;
  top: calc(50% - 15px);
}
.say .heading h1::after {
  right: 6px;
}
.say .heading h1::before {
  left: 6px;
}
.say .data-contain p {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8rem;
}
.say .box {
  width: 100%;
  padding: 20px 15px;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  transition: all 0.3s linear;
}
.say .box img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px 0px 30px 0px;
}
.say .box .desc {
  color: #252424;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 40px;
}
.say .box h2 {
  color: #CB1E0F;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}
.say .box .location {
  color: #252424;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}
.say .box:hover {
  transform: translateY(-10px);
}
.say .button-data {
  margin-top: 40px;
}

.contact-us {
  width: 100%;
  padding: 50px 0px;
}
.contact-us .form-contain .form-group label {
  font-size: 20px;
  font-weight: 700;
  color: #CB1E0F;
  margin-bottom: 15px;
  display: block;
}
.contact-us .form-contain .form-group .form-control {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 0px !important;
  border: 1px solid #D8D7D7;
  color: #000000;
  resize: none;
}
.contact-us .form-contain .form-group .form-control.text-area {
  height: 200px !important;
}
.contact-us .form-contain .form-group .form-control::-moz-placeholder {
  color: #D8D7D7;
  font-size: 18px;
  font-weight: 500;
}
.contact-us .form-contain .form-group .form-control:-ms-input-placeholder {
  color: #D8D7D7;
  font-size: 18px;
  font-weight: 500;
}
.contact-us .form-contain .form-group .form-control::placeholder {
  color: #D8D7D7;
  font-size: 18px;
  font-weight: 500;
}
.contact-us .form-contain .form-group .form-control:hover, .contact-us .form-contain .form-group .form-control:focus {
  border-color: #CB1E0F;
}
.contact-us .form-contain iframe {
  width: 100%;
  height: 500px;
}

.button-data {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.button-data .btn-shape {
  width: 210px;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 9;
  font-weight: 700;
  color: #fff;
  border: 1px solid #252424;
  border-radius: 10px;
  position: relative;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.button-data .btn-shape::after, .button-data .btn-shape::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  background-color: #252424;
  z-index: -1;
  transition: all 0.3s linear;
}
.button-data .btn-shape::after {
  left: 0;
}
.button-data .btn-shape::before {
  right: 0;
}
.button-data .btn-shape:hover {
  color: #252424;
}
.button-data .btn-shape:hover::after, .button-data .btn-shape:hover::before {
  width: 0% !important;
}

.data-contact {
  width: 100%;
  padding: 50px 0px 30px 0px;
  background-color: #F1F1F1;
}
.data-contact .border-shape {
  position: relative;
  z-index: 9;
}
.data-contact .border-shape::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #1B1915;
  left: 0px;
  top: 0;
  z-index: -1;
}
.data-contact .box {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.data-contact .box img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.data-contact .box h2 {
  color: #000000;
  font-size: 25px;
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px;
}
.data-contact .box:hover img {
  -webkit-animation: tada 0.4s linear both;
          animation: tada 0.4s linear both;
}

footer {
  width: 100%;
  padding: 50px 0px 10px 0px;
  background-color: #252424;
}
footer .content .brand-name {
  width: 210px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
footer .content p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
}
footer .content .link li {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}
footer .content .link li a {
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
footer .content .link li a:hover {
  color: #CB1E0F;
}
footer .content .socail-media {
  display: flex;
  align-items: center;
  align-content: center;
}
footer .content .socail-media li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
footer .content .socail-media li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
footer .content .socail-media li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .content .socail-media li a:hover img {
  -webkit-animation: fadeInLeft 0.4s linear both;
          animation: fadeInLeft 0.4s linear both;
}
footer .content .whats {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}
footer .content .whats img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
footer .content .whats span {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url("../images/intro_shape.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.loader::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: -1;
}
.loader img {
  width: 120px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
.loader h1 {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

.fixed-icon {
  width: 50px;
  height: 50px;
  background: #25D366;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 997;
  animation: pulse-shadow 2s linear infinite alternate-reverse;
}
.fixed-icon img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.fixed-icon:hover img {
  -webkit-animation: tada 0.3s linear both;
          animation: tada 0.3s linear both;
}

@media (max-width: 999px) {
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .top-nav {
    display: none;
  }
  .navbar.scrolled .navbar-nav {
    height: calc(100vh - 70px);
    top: 70px;
  }
  .navbar .buttons-contain {
    display: none !important;
  }
  .navbar .content {
    position: unset !important;
  }
  .navbar .navbar-nav {
    width: 100%;
    height: calc(100vh - 120px);
    top: 120px;
    right: -100% !important;
    position: absolute !important;
    background-color: #1B1915;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px 10px;
    transition: all 0.3s linear;
  }
  .navbar .navbar-nav.active-nav {
    right: 0% !important;
  }
  .navbar .navbar-nav .nav-item {
    width: 100%;
    padding: 20px 0px;
    margin: 0px;
    border-bottom: 1px solid #ddd;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    width: 100% !important;
  }
  .navbar .navbar-nav .nav-item .product-contain {
    width: 100%;
    z-index: 999 !important;
    top: 0px !important;
    padding-bottom: 150px !important;
    height: 100vh;
    overflow-y: scroll !important;
    opacity: 1 !important;
    visibility: visible !important;
    box-shadow: 0px 0px 0px transparent !important;
    transform: translateY(0px) !important;
    right: -100%;
    transition: all 0.3s linear;
  }
  .navbar .navbar-nav .nav-item .product-contain .close-product-contain {
    display: block !important;
  }
  .navbar .navbar-nav .nav-item .product-contain::-webkit-scrollbar-track, .navbar .navbar-nav .nav-item .product-contain::-webkit-scrollbar-thumb, .navbar .navbar-nav .nav-item .product-contain::-webkit-scrollbar-thumb:hover {
    background: transparent !important;
  }
  .navbar .navbar-nav .nav-item .product-contain.active-product {
    right: 0px !important;
  }
  header {
    padding: 200px 0px 100px;
    background-position: top right !important;
  }
  .services .service-contain::after {
    display: none !important;
  }
  .services .service-contain .box .image-content {
    width: 130px;
    height: 130px;
  }
  .services .service-contain .box h2 {
    font-size: 15px !important;
  }
  .data-contact .border-shape {
    margin-bottom: 50px !important;
  }
  .data-contact .border-shape::after {
    width: 100% !important;
    height: 1px !important;
    bottom: -20px !important;
    top: unset !important;
    left: 0px !important;
  }
  .data-contact h2 {
    font-size: 15px !important;
  }
  .questions .question-contain h2 {
    font-size: 20px !important;
  }
}/*# sourceMappingURL=style.css.map */